@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
/* Hide default browser calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* remove weird inner padding in chrome */
input[type="date"]::-webkit-datetime-edit {
  padding: 0;
}
